# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdm.toml

# Virtual Environment
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask/Misc
instance/
*.db
*.sqlite3
.env
.env.*

# PyInstaller
*.spec
dist/
build/

# Logs
*.log

# Render or deployment files (optional)
render.yaml
